<h2>Страница тестирования прямого эфира</h2>
<div class="container">
    <div class="row"><h3>ЛОКАЛЬНЫЙ ТЕСТ</h3></div>
    <div class="row">
        <div class="row">
            <div class="col-md-4">Публикатор</div>
            <div class="col-md-8"><a href="https://onairwithslidesappclients/#/publisherLogin?type=0&roomName=1&userName=ilyaPublisher">Локально зайти публикатором</a></div>
        </div>
        <div class="row">
            <div class="col-md-4">Подписчик 1</div>
            <div class="col-md-8"><a href="https://onairwithslidesappclients/#/subscriberLogin?type=1&roomName=1&userName=subscriberIlya">Локально зайти 1м подписчиком</a></div>
        </div>
        <div class="row">
            <div class="col-md-4">Подписчик 2</div>
            <div class="col-md-8"><a href="https://onairwithslidesappclients/#/subscriberLogin?type=1&roomName=1&userName=anotherSubscriber">Локально зайти 2м подписчиком</a></div>
        </div>
    </div>
</div>
<!--
<div class="join">
    <div id="join-title">On air room</div>

    <div class="card" id="join">
        <form role="form" ng-submit="register(room)" accept-charset="UTF-8">

            <div class="card__content">
                <lx-text-field label="Username">
                    <input type="text" id="name" ng-model="room.userName" required>
                </lx-text-field>

                <div class="grid">

                    <div class="grid__col6">
                        <lx-text-field label="Room">
                            <input type="text" id="roomName" ng-model="room.roomName" required>
                        </lx-text-field>
                    </div>

                    <div class="grid__col6">
                        <lx-select ng-model="room.roomName" placeholder="Choose an existing room" choices="listRooms" floating-label>
                            <lx-select-selected>
                                {{ $selected}}
                            </lx-select-selected>

                            <lx-select-choices>
                                {{ $choice}}
                            </lx-select-choices>
                        </lx-select>
                    </div>

                </div>

            </div>

            <div class="card__actions">
                <div class="grid">
                    <div class="grid__col6">
                        <button class="btn btn--l btn--blue btn--raised" lx-ripple type="button" ng-click="clear()">Clear</button>
                    </div>
                    <div class="grid__col6">
                        <button id="joinBtn" class="btn btn--l btn--green btn--raised" lx-ripple type="submit" >Join room!</button>
                    </div>
                </div>
                <br>
            </div>

        </form>
    </div>
</div>
-->

